@media screen and (max-width: 1200px) {
    #desktop-nav {
        display: none;
    }

    #hamburger-nav {
        display: flex;
    }
}

@media screen and (max-width: 768px) {
  .about-containers {
    flex-direction: column;
  }
  
  .section-container {
    flex-direction: column;
    gap: 2rem;
  }
  
  .details-container {
    margin-bottom: 1rem;
  }
  
  .text-container {
    margin-bottom: 2rem;
  }
}